parallel-tractability-J.synctex.gz

parallel-tractability-J.synctex.pdf

*-eps-converted-to.pdf

*.class

*.toc

*.vrb

*.nav

*.snm

*.el

*.dvi

*.dmg

*.spl

*.log

*.aux

*.bbl

*.blg

*.out

ignore.txt

auto

bin

*.class
